@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: Ubuntu, sans-serif;
  margin: auto;
  max-width: 1200px;
}

.active {
  background: #aea;
  font-weight: bold;
}

.add-todo,
.projects {
  background: #efe;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-todo h2,
.projects h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

.add-todo > form,
.projects > form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 500px;
  width: 100%;
}

.add-todo button,
.projects button {
  background: #a3f;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 8px;
  padding: 8px 16px 8px 16px;
  width: 100px;
}

.add-todo input,
.add-todo select,
.projects input,
.todo-edit input,
.todo-edit select {
  font-size: 1rem;
  padding: 4px;
}

.add-todo,
.projects {
  padding: 8px;
}

.container {
  background: #fff;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.delete-todo,
.delete-project {
  background: #f55;
  height: 32px;
  padding: 2px;
}

.footer {
  background: #ffa;
  text-align: center;
  max-width: 1200px;
  padding: 16px;
  width: 100vw;
}

.footer a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

.grayout {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 8;
}

.heading {
  background: #ffa;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.login-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login {
  align-items: center;
  background: #eef;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 16px;
  height: 400px;
  max-width: 400px;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.login button {
  border: none;
  cursor: pointer;
  background: #ebc883;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  padding: 16px;
  width: 200px;
}

.project-list-item {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  width: max-content;
}

.projects {
  background: #eae;
  display: flex;
  flex-direction: column;
}

.todo-control {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: end;
}

.todo-details {
  background: #eef;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.todo-details > button,
.todo-edit button {
  align-self: start;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 16px 8px 16px;
  width: 100px;
}

.todo-details h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.todo-details p {
  font-size: 1.2rem;
}

.todo-details .detail-edit,
.todo-edit .submit-edit {
  background: #6e6;
}

.todo-details .detail-close,
.todo-edit .cancel-edit {
  background: #e6e;
}

.todo-edit.hidden,
.todo-details.hidden,
.grayout.hidden,
.login-container.hidden {
  display: none;
}

.todo-edit {
  background: #fee;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.todo-edit label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-edit > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-edit input[type="checkbox"] {
  align-self: start;
  scale: 1.5;
}

.todo-summary {
  align-items: center;
  background: #fff;
  border: 1px solid #222;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 8px;
  position: relative;
}

.todo-summary.done {
  background: #ddd;
}

.todo-summary.low {
  background: #aea;
}

.todo-summary.medium {
  background: #eea;
}

.todo-summary.high {
  background: #fc9;
}

.todo-summary > * {
  flex: 1;
}

.todos {
  align-content: start;
  display: grid;
  gap: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: min(6vw, 1rem);
  padding: 8px;
}

.view-todo {
  border: none;
  color: #fff;
  background: #55f;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
}

