@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: Ubuntu, sans-serif;
}

.active {
  background: #fff;
  font-weight: bold;
}

.add-todo {
  background: #f5f;
}

.add-todo,
.projects {
  padding: 8px;
}

.container {
  border: 2px solid red;
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.delete-todo,
.view-todo {
  border-radius: 6px;
}

.delete-todo {
  background: #f55;
  height: 32px;
  padding: 2px;
}

.grayout {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 8;
}

.heading {
  background: #ff5;
  font-size: 1.4rem;
  padding: 8px;
  text-align: center;
}

.project-list-item {
  cursor: pointer;
  font-weight: bold;
}

.projects {
  background: #f55;
}

.todo-control {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: end;
}

.todo-details {
  background: #eef;
  border: 2px solid #222;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 9;
}

.todo-details > button {
  align-self: start;
  font-size: 0.9rem;
  padding: 8px;
}

.todo-edit.hidden,
.todo-details.hidden,
.grayout.hidden {
  display: none;
}

.todo-edit {
  background: #fee;
  border-radius: 16px;
  height: 98%;
  width: 98%;
  padding: 16px;
  position: absolute;
  top: 1%;
  left: 1%;
}

.todo-edit > form {
  display: flex;
  flex-direction: column;
}

.todo-summary {
  align-items: center;
  background: #ffe;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 8px;
  position: relative;
}

.todo-summary > * {
  flex: 1;
}

.todos {
  background: #222;
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: min(6vw, 1rem);
  gap: 2px;
  grid-template-rows: repeat(autofill, minmax(300px, 1fr));
  padding: 2px;
}

.view-todo {
  border: none;
  color: #fff;
  background: #55f;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
}

